
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
await page.getByRole('button', { name: 'Add Module' }).click();
await page.locator('.data-\\[state\\=open\\]\\:animate-in').first().click();